:root {
  --blue: #190482;
  --white: #ffffff;
  --button: #c2d9ff;
  --golden: goldenrod
  
}
p{
  color: black;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* background-color: transparent; */
  
}
body {
  font-family: cursive;
}
#mode {
  font-size: 18px;
  border: 1px solid var(--blue);
  background-color: var(--button);
  color: var(--blue);
  padding: 5px;
  border-radius: 15px;
  font-family: inherit;
  cursor: pointer;
  width: 100px;
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
  position: sticky;
  top: 0px;
}
.rightSide {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding-right: 30px;
}
.shopping {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: flex-start;
}
#Login {
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  color: var(--blue);
  padding: 5px;
  cursor: pointer;
  font-family: inherit;
}
#Basket {
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  color: var(--blue);

  cursor: pointer;
  font-family: inherit;
}
#Basket:hover {
  color: red;
}
.baskesBin {
  display: flex;
  gap: 0px;
  justify-content: flex-end;
  align-items: center;
}
#Login:hover {
  color: red;
}
#Register {
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  color: var(--blue);
  padding: 5px;
  cursor: pointer;
  font-family: inherit;
}
#Register:hover {
  color: red;
}
#btnBin {
  border: 0px;

  background-color: transparent;
  color: var(--blue);

  width: 50px;
}

/* !!section logo search */
#section {
  display: flex;
  flex-direction: column;
}
.logoSearch {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
#logo {
  width: 50%;
  height: 150px;
}
#inputSearch {
  width: 100%;
  height: 37.2px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 0px;
  outline: 0px;
  font-size: 18px;
  padding: 5px;
  color: var(--blue);
  font-family: inherit;
}
.inputSearchDiv {
  display: flex;
  font-size: 18px;
  padding: 5px;
}
#searchBtn {
  font-size: 18px;
  padding: 5px;
  background-color: var(--button);
  color: var(--blue);
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 0px;
  font-family: inherit;
  cursor: pointer;
}

/* !! link section */
.link {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  position: sticky;
  top: 58px;
  background-color: var(--button);
}
.category {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  color: var(--blue);
  font-size: 18px;
  cursor: pointer;
}
.category:hover {
  color: red;
}
.line {
  border: 1px solid var(--blue);
  height: 27px;
  align-self: center;
}
/* !! RENDER section */
.master {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}
.master2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 0px 2px;
  border: 1px solid;
  width: 100%;
  height: 100%;
  cursor: pointer;
  align-items: center;
}

p {
  font-family: inherit;
  padding-bottom: 2px;
  color: black;
}
.price {
  font-size: 25px;
  padding-bottom: 2px;
  font-family: inherit;
}
#image {
  width: 100%;
  height: 89%;
}
#iconPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
}

.addToCart {
  background-color: var(--button);
  color: var(--blue);
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
}
.addToCard {
  background-color: var(--button);
  color: var(--blue);
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
}
.addToCard1 {
  background-color: var(--button);
  color: var(--blue);
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
}
.cardbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* !! popup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #27005d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  background-color: aliceblue;
  width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}
.popup {
  /* z-index: 1000; */
  width: 60%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #414a83;

  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.1);
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px;
  transition: transform 1s, top 1s;
}
.imgtop {
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
}
.popup button {
  width: 20%;
  padding: 5px;
  border: 0px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}
/* !! my basket */
.myCart {
  display: none;
  flex-direction: column;
  position: relative;
}
.headerBasket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid goldenrod;
}
.data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  gap: 20px;
}
.myProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #888888;
}
.finalCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  gap: 20px;
}
.pft {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  gap: 20px;
}
.totalPrice {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-top: goldenrod;
}
.imgDeleteIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-solid {
  width: 100px;
  height: 100px;
  display: inline;
  font-size: 25px;
  color: red;
}
.btnDelete {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.arrowBack {
  background-color: transparent;
  border: 0px;

  margin-left: 10px;
}
.imgTrash{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bt{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}