.btn{
    width: 30px;
    border: 0px;
    background-color: transparent;
    color: red;
    padding: 10px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoDiv{
    display: flex;
    gap: 10px;
}
.iconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.allCardContainer{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto;
}
.img{
    width: 100px;
    height: 100px;
}