:root {
  --blue: #190482;
  --white: #ffffff;
  --button: #c2d9ff;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: cursive;
}
#mode {
  font-size: 20px;
  border: 1px solid var(--blue);
  background-color: var(--button);
  color: var(--blue);
  padding: 5px;
  border-radius: 15px;
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
}
.rightSide{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding-right: 30px;
}
.shopping{
    display: flex;
    align-items: center;
    gap: 0px;
    justify-content: flex-start;
}
#Login {
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  color: var(--blue);
  padding: 5px;
  cursor: pointer;
}
#Register {
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  color: var(--blue);
  padding: 5px;
  cursor: pointer;
}
#btnBin {
  border: 0px;

  background-color: transparent;
  color: var(--blue);
  padding: 5px;
  width: 50px;
}
#cardImg{
    width: 18px;
    height: 18px;
}